.component-avatar {
    width: unset;
    height: unset;
    background-color: black;
}

.component-avatar--square--small {
    width: 16px;
    height: 16px;
    background-color: red;
}

.component-avatar--square--medium {
    width: 32px;
    height: 32px;
    background-color: green;
}

.component-avatar--square--big {
    width: 64px;
    height: 64px;
    background-color: blue;
}

.component-avatar--square--omg {
    width: 128px;
    height: 128px;
    background-color: pink;
}