.component-avatar {
    width: unset;
    height: unset;
    background-color: #737373;
}

.component-avatar--small {
    width: 16px;
    height: 16px;
}

.component-avatar--normal {
    width: 32px;
    height: 32px;
}

.component-avatar--big {
    width: 64px;
    height: 64px;
}

.component-avatar--omg {
    width: 128px;
    height: 128px;
}


.component-avatar--round {
    border-radius: 100%;
}